
.filter--content {
    margin-top: -30px;
    display: block;
    padding: 20px;
    width: 100%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 34px 20px -24px rgba(0, 36, 100, 0.06);
    border: 1px solid #f3f3f3;
}

.filter--content .form-box {
    padding: 0;
    padding-bottom: 0;
}

.filters .filter-item {
    padding: 5px 0;
}

.filter--content .filter-item span {
    margin-right: 10px;
    background-color: #eeeeee;
    padding: 2px 6px;
    border-radius: 4px;
    color: #7b8695;
    border: 1px solid transparent;
}

.filter--content .filter-item a {
    display: inline-block;
    margin-top: 0;
    margin-right: 10px;
    border-bottom: 1px solid transparent;
    color: #808080;
    border-radius: 0;
    padding: 0 10px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
}

.filter--content .filter-item a.on {
    border: 1px dashed #a5a5a5;
    background-color: #eee;
}

.filter--content .filter-item a:hover {
    border: 1px dashed #cecece;
    background-color: #eee;
}

.filter--content .filter-item>.on {
    color: #1890ff
}

.filter--content .filter-item {
    margin-top: 10px
}

.filter--content .filter-tag {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter--content .filter-tag li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
}

.filter--content .filter-tab {
    border-top: 1px solid #E9E9E9;
    padding-top: 13px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.filter--content .filter-tab span {
    margin-right: 10px;
    background-color: #eeeeee;
    padding: 2px 6px;
    border-radius: 4px;
    color: #7b8695;
    border: 1px solid transparent;
}

.filter--content .filter-tab li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
}

.filter--content .filter-tab a {
    display: inline-block;
    margin-top: 0;
    margin-right: 20px;
    color: #808080;
    position: relative;
}

.filter--content .filter-tab a i {
    width: 18px;
    height: 18px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: -4px;
    border-radius: 100%;
}

.filter--content .filter-tab .tab.on i {
    background: #ffffff;
}

.filter--content .filter-tab .tab.on i:before {
    display: inline-block;
    margin-top: 1px;
    color: #FF9800;
    content: "\f111";
    font: normal normal normal 14px/1 FontAwesome;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: 5px;
    margin-left: 2px;
}

.filter--content .filter-tab a.on {
    color: #FF9800;
}

.filter--content .filter-tab a em {
    font-style: normal;
}

.filter--content .filter-tab li.rightss {
    float: right;
}

@media (max-width:768px) {
    .filter--content {
        margin-top: -30px;
        display: block;
        padding: 10px;
    }

    .filter--content .filter-item span,
    .filter--content .filter-tab span {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
    }

    .filter--content .filter-item a {
        margin-right: 5px;
        line-height: 20px;
        font-size: 13px;
        padding: 0 5px;
    }

    .filter--content .filter-tab a {
        margin-right: 5px;
        font-size: 13px;
    }

    .filter--content .filter-tab li.rightss {
        float: none;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 5px;
    }
}


.filter--content {
    padding: 0
}


.zhankr_lmdh {
    padding: 20px
}
.filter--content .filter-item span {
    margin-right: 10px;
    background: linear-gradient(-125deg, #fff 0, #fff 100%);
    border-radius: 0;
    color: #808080;
    padding: 0 20px;
    border-right: 1px solid
}

@media(max-width:768px) {

    .filter--content .filter-item span,
    .filter--content .filter-tab span {
        padding: 0;
        border-right: 0
    }
}

.filter--content .filter-item a {
    display: inline-block;
    margin-top: 0;
    margin-right: 10px;
    border-bottom: 1px solid transparent;
    color: #808080;
    border-radius: 0;
    padding: 0 10px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px
}

.filter--content .filter-item a.on {
    border: 1px dashed #fff;
    background: linear-gradient(-125deg, #fff 0, #fff 100%);
    color: #3d7eff
}

.filter--content .filter-item span {
    margin-right: 10px;
    background: linear-gradient(-125deg, #fff 0, #fff 100%);
    border-radius: 0;
    color: #808080;
    padding: 0 20px;
    border-right: 1px solid
}

.filter--content .filter-item a.on {
    border: 1px dashed #fff;
    background: linear-gradient(-125deg, #fff 0, #fff 100%);
    color: #3d7eff
}

.filter--content .filter-item a {
    display: inline-block;
    margin-top: 0;
    margin-right: 10px;
    border-bottom: 1px solid transparent;
    color: #808080;
    border-radius: 0;
    padding: 0 10px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px
}

.filter--content .filter-item a:hover {
    border: 1px dashed #fff;
    background: linear-gradient(-125deg, #fff 0, #fff 100%);
    color: #3d7eff
}

.filter--content .filter-tab span {
    margin-right: 10px;
    background: linear-gradient(-125deg, #fff 0, #fff 100%);
    border-radius: 0;
    color: #808080;
    padding: 0 22px;
    border-right: 1px solid
}

@media(max-width:768px) {

    .filter--content .filter-item span,
    .filter--content .filter-tab span {
        padding: 0;
        border-right: 0
    }
}

.filter--content .filter-tab a.on {
    color: #166df1
}

.filter--content .filter-tab .tab.on i:before {
    display: inline-block;
    margin-top: 1px;
    color: #166df1;
    content: "\f111";
    font: normal normal normal 14px/1 FontAwesome;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: 5px;
    margin-left: 2px
}
